.main {
    margin-left: 400px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1 {
    overflow: hidden;
    text-align: center;
}

pre {
    box-sizing: border-box;
    width: 100%;
    height: 100%; 
    overflow-y: scroll;
    overflow-x: scroll;
    white-space: pre-nowrap;
    overflow: auto;
    background: #40403d;
    border: none;
    color: #c5c5c5;
    padding: 15px;
}

pre, tr {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

pre:hover, input:hover, pre:active, input:active, pre:focus, input:focus, label:focus, .btn:active, .btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

tbody, tr {
    display: block;
    color: #c5c5c5;
    background: #40403d;
}

table, td {
}

.bottom {
    display: table;
    height: 80%;
    width: 100%;
}

.left {
    display: table-cell;
    padding: 10px;
    height: 100%;
    width: 50%;
}

.left #compile {
    display: table-cell;
}

.left #c-code {
    display: block;
}

.right {
    margin-top: 0px;
    display: table-cell;
    padding: 10px;
    height: 100%;
    width: 100%;
}

.disasm-table {
    display: block;
    height: 100%;
    width: 100%;
}

.line {
    display: block;
    width: 100%;
}

td {
    padding: 0px 10px;
}

.highlight1 {
    color: #ff005f;
}

.highlight2 {
    color: #e6db74;
}

button {
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance:none;
    background: #1d1e22;
    border-radius: 0px;
    border: solid 1px;
    color: #c5c5c5;
    padding: 10px;
}
