@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

body {
    background: #2C2C2A;
}

li, a, h1, p, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    color: white;
}

code {
    color: white;
}

p {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    color: white;
}
