@import url('https://fonts.googleapis.com/css?family=Lato:300,400');

article {
    margin: auto;
    max-width: 800px;
}

body {
    background: #2C2C2A;
}

li, a, h1, p, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    color: white;
}

code {
    color: white;
}

p {
    font-size: 1.75vh;
    font-family: 'Lato', sans-serif;
    color: white;
}

p, li {
    line-height: 1.5;
}
