img, twitter-widget {
    max-width:100%;
    max-height:100%;
    margin: auto;
    display: block;
}

h1 {
    font-size: 2.5em;
    font-weight: bold;
}

code {
    max-width:100%;
    max-height:100%;
    background: rgba(124, 124, 124, 25%);
    padding: 0px 5px;
}

pre code {
    background: none;
    padding: 0px;
}

pre {
    padding: 20px;
    white-space: pre-wrap;
    background: rgba(124, 124, 124, 25%);
}

article a {
    text-decoration: underline;
}
