@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

.sticky {
    width: 25%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding: 20px;
}

.sticky .logo {
    height: 78px;
    width: 78px;
    display: block;
}

.sticky img {
    padding: 2px;
    margin: 4px;
    border-radius: 50px;
    width: 64px;
    border: 1px solid;
    -webkit-transition: margin 0.25s, border 0.25s;
    transition: margin 0.25s, border 0.25s;
}

.sticky img:hover {
    margin: 0px;
    border: 5px solid;
}

.sticky img:active {
    margin: 4px;
    border: 1px solid;
}

.sticky ul {
    position: relative;
    list-style: none;
    margin-top: 20px;
    margin-left: 0;
    padding-left: 1.2em;
}

.sticky ul li a, .sticky ul {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    text-decoration: none !important;
    font-size: 1.25vw;
}

.sticky ul li {
    padding-left: 10px;
    transition: padding-left 0.25s;
}

.sticky ul li:hover {
    padding-left: 30px;
}

.sticky ul li:before {
    content: ">>";
    position: absolute;
    left: 0;
    color: #777;
}

r {
    color: #ff005f;
}

g {
    color: #bdff00;
}

bl {
    color: #00d6ff;
}


@media only screen and (max-width: 1640px) and (orientation: landscape) {
    article {
        margin: 0px;
        position: absolute;
        top: 0px;
        left: 30%;
    }
}


@media only screen and (orientation: portrait) {
    article {
        margin: 0px auto;
        position: inherit;
    }
    
    article h1 {
        margin-top: 0px;
    }

    .sticky {
        width: 90%;
        position: inherit;
    }

    .sticky img, .sticky img:hover, .sticky img:active {
        margin: auto;
        display: block;
        width: 100%;
        max-width: 100px;
    }

    /*.sticky .logo {
        height: 78px;
        width: 78px;
        display: block;
    }*/

    .sticky ul li a, .sticky ul {
        font-size: 2vh;
    }
}
