pre code.hljs {
    display:block;
    overflow-x:auto;
    padding:1em
}
code.hljs {
    padding:3px 5px
}
.hljs {
    background:#23241f;
    color:#f8f8f2
}
.hljs-subst,
.hljs-tag {
    color:#f8f8f2
}
.hljs-emphasis,
.hljs-strong {
    color:#a8a8a2
}
.hljs-bullet,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-quote,
.hljs-regexp {
    color:#ae81ff
}
.hljs-code,
.hljs-section,
.hljs-selector-class,
.hljs-title {
    color:#bdff00
}
.hljs-strong {
    font-weight:700
}
.hljs-emphasis {
    font-style:italic
}
.hljs-attr,
.hljs-keyword,
.hljs-name,
.hljs-selector-tag,
.hljs-built_in,
.hljs-type,
.hljs-meta {
    color:#ff005f
}
.hljs-attribute,
.hljs-symbol,
.hljs-title.class_ {
    color: #00d6ff
}
.hljs-class .hljs-title,
.hljs-params {
    color:#f8f8f2
}
.hljs-addition,
.hljs-selector-attr,
.hljs-selector-id,
.hljs-selector-pseudo,
.hljs-string,
.hljs-template-variable {
    color: #E6DB74;
}
.hljs-comment,
.hljs-deletion {
    color:#75715e
}
.hljs-comment,
.hljs-deletion {
    color:#75715e
}
