<html>
<head>
    <style>

    </style>
</head>

<body>
    <h1>Posts</h1>
    {{#each posts}}
        <li>{{title}} |  Time posted: {{date}}</li>
    {{/each}}
    <script src="https://gist.github.com/jam1garner/2ce0565b3cfa0adf69335c943b87de78.js"></script></script>
</body>
</html>
