<html>
<head>
    <title>Blog | jam1garner</title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/jam_transparent_side.png">
    <link rel="stylesheet" href="/css/global.css" media="all">
    <link rel="stylesheet" href="/css/index.css" media="all">
    <link rel="stylesheet" href="/css/sticky_sidebar.css" media="all">
    <meta property="og:title" content="Blog Home" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="jam1garner" />
    <meta property="og:description"content="Writeups, Hacking, and Hacky Software">
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = window._paq = window._paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.jam1.re/";
        _paq.push(['setTrackerUrl', u+'matomo.php']);
        _paq.push(['setSiteId', '1']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
</head>
<body>
    {{> sticky}}
    <article>
        <h1 class="title">Posts</h1>
        {{#each posts}}
            <a class="post-card" href="/blog/{{name}}">
                <h2 class="card-title">{{title}}</h2>
                <img class="post-image" src="{{thumbnail}}" alt="">
                <div class="post-date">Posted: {{date}}</div>
            </a>
        {{/each}}
    </article>
</body>
</html>
