<html>
<head>
    <link rel="stylesheet" href="/css/gist-monokai.css" media="all">
<style>
    .codeBlock {
        width: 50%;
    }
</style>
</head>

<body>
    <h1>Posts</h1>
    {{#each posts}}
        <li>{{title}} |  Time posted: {{date}}</li>
    {{/each}}
    <div class="codeBlock">
        <script src="https://gist.github.com/jam1garner/ae7ddcf5140e13395820716b014495ee.js"></script></script>
    </div>
</body>
</html>
