<html>
<head> 
    <link rel="stylesheet" href="/css/global.css" media="all">
<style>
    .codeBlock {
        width: 50%;
    }
</style>
</head>

<body>
    <h1>Posts</h1>
    {{#each posts}}
        <li><a href="/blog/{{name}}">{{title}} | Time posted: {{date}}</a></li>
    {{/each}}
</body>
</html>
