<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{post.title}}</title>
    <link rel="stylesheet" href="/css/gist-monokai.css" media="all">
    <link rel="stylesheet" href="/css/post.css" media="all">
    <link rel="stylesheet" href="/css/global.css" media="all">
</head>
<body>
    {{#if post}}
        <div class="post-top">
        </div>
        <article>{{{post.body}}}</article>
    {{else}}
        <p class="no-post">Post data not found.</p>
    {{/if}}
</body>
</html>
