<div class="sticky">
    <a class="logo" href="/"><img src="/img/jam_transparent_side.png" alt="logo"></a>
    <ul>
        <li><a href="/"><g>blog</g>(posts: <bl>&amp;</bl>[BlogPost])</a></li>
        <li><a href="/rss"><g>rss_feed</g><r>&lt;</r>T:  Post<r>&gt;</r>(posts: <bl>&amp;</bl>Vec<r>&lt;</r>T<r>&gt;</r>)</a></li>
        <li><a href="/projects"><g>get_projects</g>(<bl>&amp;mut</bl> self)</a></li>
        <li><a href="/compiler"><r>use Compiler</r>::explorer;</a></li>
        <li><a href="/nus3audio"><r>nus3audio</r>::<g>convert</g><r>&lt;</r>T: Audio<r>&gt;</r>(file: T)</a></li>
        <li><a href="https://twitter.com/jam1garner"><r>extern crate</r> <bl>twitter</bl>;</a></li>
        <li><a href="https://github.com/jam1garner"><r>extern crate</r> <bl>github</bl>;</a></li>
    </ul>
</div>
